<br>
<br>
<br>
<app-tabla-usuarios class="m-4" [usuarios]="usuariosVip" [tittle]="'Usuarios VIP'"></app-tabla-usuarios>
<ng-container>
    <div class="container col-10">
        <div class="col-2 ">
            <h5 class="label">Mes de consulta</h5>
            <dp-date-picker mode="month" [(ngModel)]="mes" (ngModelChange)="mesSeleccionado()">
            </dp-date-picker>
        </div>
    </div>
</ng-container>
<app-tabla-usuarios class="m-4" [usuarios]="usuariosExNormales" [tittle]="'Nuevos Usuarios VIP'"></app-tabla-usuarios>
<app-tabla-usuarios class="m-4" [usuarios]="usuariosExVip" [tittle]="'Nuevos Usuarios'"></app-tabla-usuarios>