<ng-container>
    <div class="container col-10">
        <h3>{{tittle}}</h3>
        <div>
            <table class="table table-responsive-lg ">
                <thead class="thead-dark ">
                    <th scope="col" class="text-center">Id</th>
                    <th scope="col" class="text-center">Nombre Usuario</th>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios">
                        <td scope="row" class="align-middle text-center lg">
                            {{usuario.id}}
                        </td>
                        <td scope="row" class="align-middle text-center lg">
                            {{usuario.usuario}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>