<br>
<br>
<br>
<br>
<div class="container">
    <h1>Carrito </h1>
    <h5>Importe Carrito: {{carrito.importeSinDescuento  | currency:'USD':true}}</h5>
    <h5>Total a pagar con Descuento : {{carrito.importeTotal  | currency:'USD':true}}</h5>
    <br>
    <div>

        <table class="table table-responsive-lg ">
            <thead class="thead-dark ">
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Imagen</th>
                <th scope="col" class="text-center">Descripción</th>
                <th scope="col" class="text-center">Precio Unidad</th>
                <th scope="col" class="text-center">Cantidad</th>
                <th scope="col" class="text-center">Total</th>
            </thead>
            <tbody>
                <tr *ngFor="let articulo of carrito.articulos">
                    <td class="align-middle">
                        <button class="btn" title="Actualizar Producto" (click)="actualizarArticulo(articulo)">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2 text-success"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                            </svg>
                        </button>
                        <button class="btn" title="Eliminar Producto" (click)="eliminarArticulo(articulo)">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash text-danger"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd"
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        </button>
                    </td>
                    <td>
                        <div class="container">
                            <img src={{articulo.producto.imagen}} class=" img-thumbnail img-fluid card-img-top m-auto">

                        </div>
                    </td>
                    <td class="align-middle">
                        {{articulo.producto.descripcion}}
                    </td>
                    <td class="align-middle">
                        {{articulo.producto.precio | currency:'USD':true}}
                    </td>
                    <td class="align-middle text-center">
                        <input type="number" class="form-control col-6" [(ngModel)]="articulo.cantidad">

                    </td>
                    <td class="align-middle">
                        {{articulo.importe | currency:'USD':true}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-3">
            <button class="btn btn-success" (click)="finalizarCompra()"> Finalizar Compra</button>
        </div>
        <div class="col-3">
            <button class="btn btn-danger" (click)="eliminarCarrito()"> Eliminar Carrito</button>
        </div>

    </div>
    <br>
    <br>
    <br>
    <br>

</div>