<div class="container mt-4 col-10">
    <div class="row row-cols-3">
        <div *ngFor="let producto of productos">
            <div class="card m-4 col" style="width: 18rem;">
                <img src={{producto.imagen}} alt="Responsive image"
                    class=" imagenProducto img-fluid card-img-top m-auto">
                <div class="card-body row">
                    <h5 class="card-title">{{producto.precio | currency:'USD':true }}</h5>
                    <p class="card-text">{{producto.descripcion}}
                    </p>
                    <div class="col-8">
                        <button class="btn btn-primary justify-content-center align-items-center"
                            (click)="agregarAlCarrito(producto)">Agregar al Carrito</button>
                    </div>
                    <div class="col-4">
                        <input class="form-control col-12" [(ngModel)]="producto.cantidad" type="number">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>