<div class="container-fluid text-center">
    <div class=" d-flex row justify-content-center align-items-center minh-90 text-center">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <br>
            <img class="center-block image-responsive" alt="Ecommerce" src="/assets/icono-ecommerce.ico">
            <br>
            <div class="form-group">
                <label for="usuario">Email</label>
                <input class="form-control" placeholder="Ingrese una Descripción" formControlName="usuario">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>