<div *ngIf="usuario">
  <nav class=" navbar fixed-top navbar-expand-lg navbar-dark bg-dark ">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
        <a class="navbar-brand d-flex justify-content-start " href="productos">Productos</a>
        <a class="navbar-brand d-flex justify-content-start" href="carrito">Carrito</a>
        <a class="navbar-brand d-flex justify-content-start" href="consultas">Consultas</a>
        <a class="col navbar-brand d-flex justify-content-end" href="login" (click)="logout()">Logout</a>
      </div>
    </div>
  </nav>

</div>